@import './stars'; //hay que cambiar a @use

// fonts
@font-face { font-family: SF Distant Galaxy; src: url(SF-Distant-Galaxy.ttf);}

// Colors
$Dark-blue: #16272E;
$First-blue: #05719A;
$Second-blue: #4FB4D6;
$First-purple: #512da8;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
   background-color: $Dark-blue;
   width: 100%;
   overflow-x: hidden;
}
header {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    padding: 10px 0;
    img {
      width: 180px;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 750px;
      li {
          display: inline-block;
          list-style: none;
          margin-left: 50px;
          a {
            position: relative;
            color: #ffff;
            padding: 5px 10px;
            font-size: 1.6rem;
            text-decoration: none;
            font-family: DIN;
            font-weight: bolder;
          }
      }
      button {
        font-family: DIN;
        padding: 0.5em 1em;
        outline: none;
        border: 1px solid #303030;
        background: #212121;
        color: #ae00ff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
            transition-delay: 0.6s;
        }
      }    
    }
  }
}
.home {
  display: grid;
  align-items: center;
  width: 100%;
  height: 500px;
  padding-left: 160px;
  .Landscape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
    }
  .Couple {
    position: absolute;
    top: 180px;
    right: 0;
    width: 50%;
    height: 80%;
    object-fit: cover;
    z-index: -2;
  }
  .Flares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  .home-title {
    max-width: 700px;
    line-height: 1.2;
  }
  h1 {
    font-family: SF Distant Galaxy;
    font-size: 6rem;
    color: #ffff;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .home-description {
    font-family: SF Distant Galaxy;
    font-size: 1.2rem;
    margin-top: 40px;
    h2 {
      color: $First-blue;
      font-size: 1.8rem;
      font-weight: normal;
    }
    p {
      margin-top: 10px;
      color: #ffff;
      font-size: 1.8rem;
      font-weight: normal;
      letter-spacing: 2px;
    }
  }
  .social-media {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 30px;
    top: 400px;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    li {
      list-style: none;
      margin: 12px;
    }
  }
}
.review {
  position: relative;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 100%;
  height: 720px;
  .Lanscape-review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
  }
  .review-container {
    width: 70%;
    min-width: 320px;
    font-family: DIN;
    color: #ffff;
    h2 {
      font-size: Bold;
      font-size: 3.5rem;
      text-align: center;
      strong {
        color: $Second-blue;
      }
    }
    p {
      margin-top: 60px;
      font-family: DIN;
      font-size: 2rem;
    }
  }
}
.planets {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  h2 {
    color: #ffff;
    font-size: 3.5rem;
    font-family: DIN;
    font-weight: bold;
  }
  .planets-container {
    width: 95%;
    margin: 100px auto;
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-rows: repeat(autofit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    .planet {
      background: url(../Img/Planet-background.png);
      background-size: cover;
      background-position: center;
      position: relative;
      display: grid;
      justify-items: center;
      align-items: center;
      height: 300px;
      border-radius: 20px; 
      border: solid 2px $Second-blue;
      h2 {
        position: absolute;
        bottom: 20px;
        font-size: 2.5rem;
      }
    }
    .planet-1 {
      img {
        width: 120px;
        z-index: 1;
      }
    }
    .planet-2 {
      img {
        width: 150px;
        z-index: 1;
      }
    }
    .planet-3 {
      img {
        width: 200px;
        z-index: 1;
      }
    }
    .planet-4 {
      img {
        width: 210px;
        z-index: 1;
      }
    }
  }
}

.roadmap {
  .roadmap-title {
    text-align: center;
    color: #ffff;
    h2 {
      border-bottom: solid 2px #ffff;
      width: 60%;
      margin: 0 auto 20px;
      padding: 20px;
      font-size: 3rem;
      font-family: DIN;
    }
    p {
      font-size: 2rem;
      font-family: DIN;
      font-weight: normal;
      line-height: 1.5;
    }
  }
  .roadmap-container {
    .container {
      min-height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 100px 0;
      .timeline {
        width: 80%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        ul {
          list-style: none;
          li {
            padding: 20px;
            background-color: #1e1f22;
            color: white;
            font-family: DIN;
            border-radius: 10px;
            margin-bottom: 20px;
            .timeline-content {
              h1 {
                font-weight: 500;
                font-size: 3rem;
                line-height: 30px;
                margin-bottom: 10px;
              }
              p {
                font-size: 1.8rem;
                line-height: 30px;
              }
            }
          }
          li:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    @media only screen and (min-width: 768px) {
      .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 100%;
        background-image:  linear-gradient(180deg, #4FB4D6 22.81%, #5B45AC 60.31%, #5B45AC 100%);
      }
      .timeline {
        ul {
          li {
            width: 50%;
            position: relative;
            margin-bottom: 50px;
            
          }
          li:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-30px);
            border-radius: 20px 0px 20px 20px;
          }
          li:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(30px);
            border-radius: 0px 20px 20px 20px;
          }
          li::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: gray;
            top: 0px;
          }
          li:nth-child(odd)::before {
            transform: translate(50%, -50%);
            right: -30px;
          }
          li:nth-child(even)::before {
            transform: translate(-50%, -50%);
            left: -30px;
          }
          li:hover::before {
            background: #03e9f4;
            box-shadow: 0 0 5px #03e9f4,
                        0 0 25px #03e9f4,
                        0 0 50px #03e9f4,
                        0 0 200px #03e9f4;
          }
        }
      }
    }
      }
}
.about-us {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 720px;
  .about-us-container {
    background: url(../Img/background-about-us.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 300px;
    padding: 0 100px;
    z-index: 1;
    p {
      font-size: 4rem;
      font-family: DIN;
      font-weight: bold;
      color: #ffff;
    }
    button {
      font-family: DIN;
      padding: 1em 1.8em;
      outline: none;
      border: 1px solid #303030;
      background: #212121;
      color: #ae00ff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
        transition-delay: 0.6s;
      }
    }
  }
}
.nft-items {
  width: 100%;
  text-align: center;
  h2 {
    font-family: DIN;
    font-size: 3rem;
    color: #ffff;
    strong {
      color: $Second-blue;
    }
  }
  .nft-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 80px auto 0;
    .she {
      background: url(../Img/she.png);
      background-position: center;
      background-size: cover;
      width: 350px;
      height: 350px;
      border-radius: 20px;
      z-index: 1;
    }
    .he {
      background: url(../Img/he.png);
      background-position: center;
      background-size: cover;
      width: 350px;
      height: 350px;
      border-radius: 20px;
      z-index: 1;
    }
  }

}
.upcoming-items {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 720px;
  .upcoming-items-container {
    background: url(../Img/background-upcoming.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 300px;
    padding: 0 100px;
    z-index: 1;
    p {
      font-size: 4rem;
      font-family: DIN;
      font-weight: bold;
      color: #ffff;
    }
    button {
      font-family: DIN;
      padding: 1em 1.8em;
      outline: none;
      border: 1px solid #303030;
      background: #212121;
      color: #ae00ff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
footer {
  width: 100%;
  background-color: #ffff;
  text-align: center;
  padding: 30px 0;
  font-family: DIN;
  font-weight: bold;
  font-size: 1.6rem;
} 

